body {
    text-align: center;
}
div #images {
    width: 351;
    height: 113;
}

table {
    border: 0;
    width: 100%;
}

p {
    text-align: center;
}

#head-block {
    background-color: #EEEEEE;
    
}

#b1 {
    width: 37%;
    background-color: #7EE5DA;
}
#b2 {
    background-color: #70CCC2;
    text-align: center;
}
#b3 {
   text-align: center;
   background-color: #62B3AA;
}
